<div class="row">
	<div class="span12">
<%= form_for(@question) do |f| %>
	<% if @question.errors.any? %>
		<div id="error_explanation">
  			<h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved:</h2>

  		<ul>
  			<% @question.errors.full_messages.each do |msg| %>
    			<li><%= msg %></li>
  			<% end %>
  		</ul>
	</div>
<% end %>


<% if current_user == @question.user %>
<div class="hero-unit blue-transparent">
	<h1>Add your video</h1>
	<div>
  		<% f.label :video_id, raw("<i class='icon-camera'></i> Video") %>
  		<%= render partial: "shared/video_select_form", locals: { question: @question } %>
		<%= f.hidden_field :video_id %>
	</div>
</div>	
<% end %>
	
	
<div class="hero-unit blue-transparent">	<br>	
	<div>
		<%= f.label :youtube_url, raw("<i class='icon-youtube'></i> YouTube URL") %>
		<%= f.text_field :youtube_url, placeholder: "Already have a video on YouTube? Paste the URL here" %>
	</div><br>
		
	<div>
		<%= f.label :title, raw("<i class='icon-font'></i> Title") %>
		<%= f.text_field :title %>
	</div><br>
	
	<div>
	  <%= f.label :tag_tokens, raw("<i class='icon-tags'></i> Tags <small>maximum of 5</small>") %>
	  <%= f.text_field :tag_tokens, data: { preload: @question.tags } %>
	</div><br>

	
	<div>
		<%= f.label :body, raw("<i class='icon-align-justify'></i> Body") %>
		<%= f.text_area :body, class: "wysihtml5" %>
		<script type="text/javascript">
		  $('.wysihtml5').wysihtml5();
		</script>	
	</div>
		
	<%= f.submit "Save", class: "default success" %>
	<%= link_to "Cancel", root_path %>
	<% end %>
	</div>
</div>
</div>
