<%= form_for(@question) do |f| %>
	<fieldset>
	<% if @question.errors.any? %>
		<div id="error_explanation">
  			<h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved:</h2>

  		<ul>
  			<% @question.errors.full_messages.each do |msg| %>
    			<li><%= msg %></li>
  			<% end %>
  		</ul>
	</div>
<% end %>


	<div class="field">
  		<%= f.label :video_id %></small>(click to scroll and select video)</small>
  		<%= render partial: "shared/video_select_form", locals: { question: @question } %>
		<%= f.text_field :video_id %>
	</div>
		
	<div class="field">
		<%= f.label :youtube_url %>
		<%= f.text_field :youtube_url, placeholder: "Already have a video on YouTube? Paste the URL here" %>
	</div><br>
		
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div><br>
	
	<div class="field">
	  <%= f.label :tag_tokens, "Tags" %>
	  <%= f.text_field :tag_tokens, data: { preload: @question.tags } %>
	</div><br>

	
	<div class="field">
		<%= f.label :body %>
		<%= f.text_area :body, class: "wysihtml5" %>
		<script type="text/javascript">
		  $('.wysihtml5').wysihtml5();
		</script>	
	</div>
	
	<div class="form-area">	
		<%= f.submit "Save", class: "default submit" %>
	</div>
	<% end %>
</fieldset>