<%= form_for(@question) do |f| %>
	<% if @question.errors.any? %>
		<div id="error_explanation">
  			<h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved:</h2>
  			<ul>
	  			<% @question.errors.full_messages.each do |msg| %>
	    			<li><%= msg %></li>
	  			<% end %>
	  		</ul>
		</div>
	<% end %>

	<div>
  		<%= f.label :video_id, raw("<i class='icon-camera'></i> Video <small> - Select up to 3</small>") %>
		<!-- @question for persisting selected videos in edit -->
  		<%= render partial: "videos/video_select", locals: { question: @question } %> 
		<%= f.hidden_field :video_list %>
	</div>

	<div>
		<%= f.label :title, raw("<i class='icon-font'></i> Title") %>
		<%= f.text_field :title, placeholder: "Try and make your title as concise and explanatory as possible..." %>
	</div><br>

	<div>
	  <%= f.label :tag_tokens, raw("<i class='icon-tags'></i> Tags - <small>Tags help categorize your question. Maximum of 5</small>") %>
	  <%= f.text_field :tag_tokens, data: { preload: @question.tags } %>
	</div><br>

	<div>
		<%= f.label :body, raw("<i class='icon-align-justify'></i> Body") %>
		<%= f.text_area :body, placeholder: "Be sure to include as much info as you can, what club you are using, the shape of the ball flight, contact quality...", class: "wysihtml5" %>
		<script type="text/javascript">
		  $('.wysihtml5').wysihtml5();
		</script>	
	</div>

	<%= f.submit "Save", class: "default success" %>
	<%= link_to "Cancel", root_path , class: "default" %>
<% end %>

<%= content_for :footer do %>
	<%= javascript_include_tag "video_select.js" %>
<% end %>	