<%= form_for(@question) do |f| %>
	<fieldset>
		<% if @question.errors.any? %>
	<div id="error_explanation">
  	<h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
  	<% @question.errors.full_messages.each do |msg| %>
    	<li><%= msg %></li>
  		<% end %>
  	</ul>
	</div>
<% end %>

	<div class="field">
		<h2><%= f.label :video %></h2>
		<%= f.select :video_id, options_for_select(current_user.videos.map{|v| [File.basename(v.file.path).titleize, v.id] }) %>
		</div>
		
	<div class="field">
		<h2><%= f.label :youtube_url %></h2><br>
		<%= f.text_field :youtube_url, placeholder: "Already have a video on YouTube? Paste the URL here" %>
	</div>
		
	<div class="field">
		<h2><%= f.label :title %></h2><br>
		<%= f.text_field :title %>
	</div>	
	
	<div class="field">
		<h2><%= f.label :body %></h2><br>
		<%= f.text_area :body, class: "tinymce" %>
		<%= tinymce %>
	</div>
	
	<div class="form-actions">	
		<%= f.submit "Save", class: "btn btn-primary" %>
		<%= link_to "Cancel", :back, class: "btn" %>
	</div>
	<% end %>
</fieldset>