<%= content_for :head do %>
	<title><% if params[:tag] %>
		<%= "#{params[:tag]}" %>
	<% elsif params[:search] %>	
		<%= params[:search] %>
	<% else %>
		Welcome to Teebox
	<% end %></title>
<% end %>


<div id="tiny-push"></div>
	<% if params[:tag] %>
		<%= render partial: "shared/tag_cloud", locals: {tags: @decorator.tags, decorator: @decorator }%>
		<h2 class="zero-margin universe"><%= params[:tag] %></h2>
		<%= pluralize(questions.size, "Question") %> found</h2><hr>
	<% end %>		
	
	<div class="row">
		<% questions.each do |question| %>
		<div class="span12">
			<div class="question-image">
			<%= question.video ? (link_to image_tag(question.video.screenshot_url(:mini)), question) : (link_to image_tag("video_screen.jpg"), question) %>
			</div>
	
		<div class="question-info">
			<div class="index-title">
				<%= link_to question.title.capitalize, question %>
		</div>
	
		<div class="profile-info" id="index">
			<div class="index-vote pull-left">
				<%= question.votes_count  %>
			</div>	
		
			<div class='pull-left' id="<%= question.correct == true ? 'correct-answer' : 'no-correct-answer' %>">
				<%= question.answers_count %>
			</div>
			<%= profile_link_helper(question) %>
			</div>
		</div>
	<hr></div>
	<% end %>
	<%= will_paginate questions %>
</div>