<% questions.each do |question| %>

	<article class="span12">
		<div class="question-image">
			<%= link_to image_tag(display_mini_screenshot(question.videos[0])), question %>
		</div>
		<div class="question-info">
			<div class="title-holder">
				<div class="index-title">
					<%= link_to question.title.capitalize, question %>
				</div>
			</div>
			<div class="profile-info-index">
				<div id="tour-vote" class="index-vote pull-left">
					<%= question.votes_count  %>
				</div>	
				<div class='pull-left' id="<%= question.correct == true ? 'correct-answer' : 'no-correct-answer' %>">
					<%= question.answers_count %>
				</div>
				<%= profile_link_helper(question) %>
			</div>
		</div>
	</article>
<% end %>

<%= will_paginate questions %>	

<%= render partial: "shared/loading", locals: { message: "questions" } %>

