<table class="table table-bordered questions-index">
	<tbody>			
	<% questions.each do |question| %>
		<tr>
			<td class='votes-count'>		
				<%= question.votes_count %> <i class="icon-plus"></i>
			</td>
			<td id="<%= question.correct == true ? 'correct-answer' : 'no-correct-answer' %>" class='answers-count'>	
    			<%= question.answers_count %> <i class="icon-ok"></i>
			</td>
			<td id="question_<%= question.id %>" class="content-box-margin" style="text-align:left;width:100%;">
				<p><b><%= link_to question.title, question %></b></p>
				<%= meta_info(question, voting: false) %>
			</td>
		</tr>	
	<% end %>
	</tbody>
</table>

<%= will_paginate questions %>	
<%= render partial: "shared/loading", locals: { message: "questions" } %>
