<% meta_title(params[:tag]) %>
<% meta_keywords(params[:tag]) %>

<%= application_banner do %>
	<%= render template: "shared/teebox_banner" %>
<% end %>	

<%= render partial: "shared/nav_links" %>

<section class="row" id="questions-index">
	<div class="col-md-8 col-sm-12">
		<% if params[:tag] %>
			<%= render partial: "tags/tag_cloud", locals: { questions: Tag.cloud } %>
			<%= display_results(@decorator.tagged_questions, params[:tag]) %>
		<% end %>
		
		<% if params[:tag] %>
			<%= render partial: "questions/questions", locals: { questions: @decorator.tagged_questions, title: 'Tagged with' } %>
		<% else  %>
			<%= render partial: "questions/questions", locals: { questions: @decorator.newest_questions, title: 'Latest Questions' } %>
		<% end %>
		
		<div class="load-questions">
			<%= link_to "Load more questions", '#', class: "default next" if current_page?(root_path) %>
		</div><hr>
	</div>
	
	<aside class='col-md-4 col-sm-12'>
		<%= render partial: "shared/promotion" %>
		<%= render partial: 'shared/articles_sidebar', locals: { articles: @articles } %>
	</aside>
</section>	
