<%= render partial: "questions/tag_cloud", locals: {tags: @tags} %>
	
<h1>Latest Questions</h1><br>
	
<% @questions.each do |question| %>

<div class="questions">
	
	<%= link_to image_tag('video_screen.jpg'), question  %>
	<h4><%= link_to question.title.titleize, question %></h4>
	
	<div class="profile-info">
		<div class='pull-left' id="<%= question.correct == true ? 'correct-answer' : 'no-correct-answer' %>">
				<%= question.answers_count %>
			</div>
		<%= link_to question.user.reputation, question.user, id: "profile-reputation" %>
		<%= link_to image_tag(avatar_url(question.user)), question.user %>
		<small><%= link_to question.user.username.titleize, user_path(question.user) %><br>	
		Posted <%= time_ago_in_words(question.created_at) %> ago</small>
	</div>
	
		</div>
	<% end %>
	

