<% meta_title(params[:tag] || params[:search]) %>
<% meta_keywords(params[:tag] || params[:search]) %>

<%= application_banner do %>
	<%= render template: "shared/teebox_banner" %>
<% end %>	

<%= render partial: "shared/nav_links" %>
	
<% if params[:search] %>
	<%= display_results(@decorator.search, params[:search]) %>
<% elsif params[:tag] %>
	<%= render partial: "tags/tag_cloud", locals: { questions: Tag.cloud } %>
	<%= display_results(@decorator.tagged_questions, params[:tag]) %>
<% end %>

<section class="row" id="questions-index">
	<div class="span8">
		<% if params[:search] %> 
			<%= render partial: "questions/questions", locals: { questions: @decorator.search, title: 'Search Results' } %>
		<% elsif params[:tag] %>
			<%= render partial: "questions/questions", locals: { questions: @decorator.tagged_questions, title: 'Tagged with' } %>
		<% else  %>
			<%= render partial: "questions/questions", locals: { questions: @decorator.newest_questions, title: 'Latest Questions' } %>
		<% end %>
	</div>
	<aside class='span4'>
		<%= render partial: "shared/promotion" %>
		<%= render @articles %>
	</aside>	
</section>	

<div class="load-questions">
	<%= link_to "Load more questions", '#', class: "default next" if current_page?(root_path) %>
</div>
