<h1><%= @question.title %></h1><br>

<%= find_video(@question) %><br>

<%= raw youtube_url_html5(@question.youtube_url) if @question.youtube_url.present? %><br>

<%= simple_format @question.body %>


	<div class="form-actions">
		<div class="profile-info">
		<%= link_to image_tag(avatar_url(@question.user)), @question.user %>
		<small><%= link_to @question.user.username.titleize, user_path(@question.user) %><br>
		Posted <%= time_ago_in_words(@question.created_at) %> ago</small>
		</div>
		<% if @question.user == current_user %>
		<div class="pull-right">
	<%= link_to "Edit", edit_question_path(@question), class: "btn btn-primary"  %>
	<%= link_to "Delete", question_path(@question), method: :destroy,  class: "btn"  %>
	</div>
	<% end %>
	</div>
	

	<%= render template: "comments/index" %>
	<%= link_to "Add comment", "#", id: "comment-button" %>
	<%= render partial: "comments/form" %>
