<% meta_title(@decorator.title) %>
<% meta_keywords(@decorator.tags.map(&:name).join(", ")) %>
<% meta_description(@decorator.title) %>

<%= content_for :head do %>
	<%= social_meta_info(@decorator) %>
	<%= javascript_include_tag "sublime.js", "playlist.js" %>
<% end %>

<%= content_for :banner do %>
	<%= render partial: "videos/playlist", locals: { videos: @decorator.videos } %>
<% end %>

<div class="row">
	<div class="col-md-8 col-sm-8">
		<div class="content-box" id="question" data-id="<%= @decorator.id %>">
			<div class="question">
				<h3><%= @decorator.title.capitalize %></h3>

				<p class="question-tags">
					<%= content_tag(:i, nil, class: "icon-tags") if @decorator.tags.any?  %>
					<%= @decorator.question_tags %>
				</p>
				
				<div class="question-content">
					<%= (@decorator.body).html_safe %>
				</div>
				
				<%= meta_info(@decorator) do %>
					<%= link_to raw("<i class='icon-edit-sign sm'></i>"), edit_question_path(@decorator), 
						title: "Edit" if can? :update, @decorator %>
					<%= link_to raw("<i class='icon-remove-sign sm'></i>"), @decorator, 
						method: :delete, confirm: "Are you sure? You will lose any points associated with this question", 
						title: "Delete" if can? :destroy, @decorator %>
				<% end %>
			</div>
			
			<section class="comments-area">	
				<%= display_comments(@decorator) %>
				<%= link_to "Add comment", "#", class: "comment-button" %>
				<%= render partial: "comments/form", locals: {commentable: @decorator} %>
			</section>
		</div>
		
		<div id='answers-count' class="<%= @decorator.answers_count > 0 ? 'answered' : 'unanswered' %>">
			<h3><%= pluralize(@decorator.answers_count, "Answer")  %></h3>
		</div>
		
		<section id="question-answers">
			<%= render @answers %>
		</section>
		
		<a href="#" id="answer-button" class="default submit">Answer question</a><br><br>
		<%= render partial: "answers/form", locals: { question_id: @decorator.id } %>
		
	</div>
	
	<aside class="col-md-4 col-sm-4">
		<%= render partial: "shared/promotion" %>
		
		<div class="sidebar">
			<div id="load-related">
				<%= render partial: "shared/loading", locals: { message: "related questions..." } %>
			</div>
		
			<div class="social-buttons">
				<p>Know someone who can help?</p>
				<p><%= social_links(request.original_url) %></p>
			</div>
		
			<p><b><%= link_to "Ask a question", new_question_path, class: "default-xl center full-width-btn success" %></b></p>
		</div>
		<%= render partial: 'shared/articles_sidebar', locals: { articles: @articles } %>
	</aside>	
</div>

<%= content_for :footer do %>
	<%= javascript_include_tag "related_questions.js", async: "async" %>
<% end %>	