<div id="question-box">

<br><%= raw sublime_video(@question.video.file, @question.video.id) if @question.video.present? %>
<%= raw youtube_url_html5(@question.youtube_url) if @question.youtube_url.present? %>

<div class="question">
	
<h1><%= @question.title.titleize %></h1>

	<%= render partial: "votes/form", 
			locals: { votes_count: "questions", id: @question.id, object: @question, vote_path: method(:vote_question_path) } %> 

<div class="question-content">
	<%= simple_format @question.body %>
</div>

<%= question_tags(@question) %>


	<div class="form-area">
		<div class="profile-info" id="question-profile-info">	
		<%= link_to image_tag(avatar_url(@question.user)), @question.user %>
		<%= link_to @question.user.reputation, @question.user, id: "profile-reputation" %>
		<small><%= link_to @question.user.username.titleize, user_path(@question.user) %><br>
		Posted <%= time_ago_in_words(@question.created_at) %> ago</small>
		</div>
				
		
		<% if @question.user == current_user %>
		<div class="pull-right">
	<%= link_to "Edit", edit_question_path(@question), class: "btn"  %>
	<%= link_to "Delete", question_path(@question), method: :delete,  class: "btn"  %>
	</div>
	<% end %>
	</div>
</div>	
</div>

	<div class="comments-area">
	<%= render template: "comments/index" %>
	<%= link_to "Add comment", "#", id: "comment-button", class: "btn" %><br>
	<%= render partial: "comments/form" %>
	</div>
	
	
	<div id='answers-count'>
		<h3><%= pluralize(@question.answers_count, "Answer")  %></h3>
	</div>
	<%= render template: "answers/index" %><br>
	<a href="#" id="answer-button" class="btn">Add your answer</a>
	<br><br>
	<%= render partial: "answers/form", locals: { question_id: @question.id } %>
