<h1><%= @question.title %></h1><br>

<%= find_video(@question) %><br>

<%= raw youtube_url_html5(@question.youtube_url) if @question.youtube_url.present? %><br>

<%= simple_format @question.body %>

<%= link_to @question.user.username, user_path(@question.user) %><br>

Posted <%= time_ago_in_words(@question.created_at) %> ago


	<% if @question.user == current_user %>
	<div class="form-actions">
	<%= link_to "Edit", edit_question_path(@question), class: "btn btn-primary"  %>
	<%= link_to "Delete", question_path(@question), method: :destroy,  class: "btn"  %>
	</div>
	<% end %>
