<div id='comment_<%="#{comment.id}" %>' class="comment">
	<div class="comment-content">
		<%= simple_format(clickable_links(comment.content)) %>
	</div>
	
	<div class="profile-info">
		<small>
		<%= link_to image_tag(avatar_url(comment.user)), comment.user %>
		<%= link_to comment.user.username.titleize, comment.user %><br>
		Posted <%= time_ago_in_words(comment.created_at) %> ago 
		<%= link_to "| Delete", [@commentable, comment], method: :delete, id: "delete-comment", remote: :true if comment.user == current_user %></small>
		</div>
		
		<%= render partial: "votes/form", 
				locals: { votes_count: "comments", object: comment, vote_path: method(:vote_comment_path) } %>	
		<hr>
		</div>