<div id='comment_<%="#{comment.id}" %>' class="comment">
	<div class="comment-content">
		<%= simple_format(clickable_links(comment.content)) %>
	</div>
	
	<div class="profile-info">
		<small>
		<%= link_to image_tag(avatar_url(comment.user)), comment.user %>
		<%= link_to comment.user.username.titleize, comment.user %><br>
		Posted <%= time_ago_in_words(comment.created_at) %> ago 
		<%= link_to "| Delete", [@commentable, comment], method: :delete, id: "delete-comment", remote: :true if comment.user == current_user %></small>
		</div>
		
		<div class="vote">
			<b>Votes: <%= comment.votes_count %></b><br>
			<%= link_to "up", vote_comment_path(comment, value: 1), method: "post" %>
			| <%= link_to "down", vote_comment_path(comment, value: -1), method: "post" %>
		</div>
		<hr>
		</div>