<%= form_for [commentable, @comment] , remote: true do |f| %> <!-- , remote: true -->

	<% if @comment.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>

	<ul>
		<% @comment.errors.full_messages.each do |msg| %>
  		<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
	<% id = rand(1..2000) %>
	<%= f.text_area :content, id: "comment-textarea", class: "comment-form_#{id}", placeholder: "To reply to someone add @ in front of their username" %>
	<script type="text/javascript">
	  $('.comment-form_<%= id %>').wysihtml5({
		"font-styles": false,
		"emphasis" : true,
		"lists" : false,
		"html" : false,
		"link" :true,
		"image" : false,
		"color" :false
	});
	</script>
	</div>
	
	<%= f.submit "Create comment", class: "default success" %>
	<%= link_to "Cancel", "#", class: "default cancel" %>
	<% end %>