<table class="table table-condensed table-borderless">
		
		<% for answer in answers %>	
	    <tr>
			<td>
				<div class="<%= answer.correct == true ? 'green-tick' : 'default-tick' %>" id="user-answers">
				<%= answer.correct == true && answer.user_id != answer.question.user_id  ? 
						raw("<i class='icon-ok-sign'></i> +20") : raw("<i class='icon-ok-sign'></i>") %>
				</div>
			</td>
			<td>
				<div id="<%= answer.points > 0 ? 'plus-points' : 'no-points' %>">
					<%= answer.points > 0 ? "+#{answer.points}" : answer.points %>
				</div>
			</td>
	      <td class="left"><a href='<%= "#{url_for(answer.question)}#answer_#{answer.id}" %>'>
				<%= truncate(answer.body, length: 75) %></a>
		  </td>
	    </tr>
		<% end %>
	</table>