<table class="table table-condensed table-borderless">
	<tr class="grey">
		<td>
			<a href="#" data-toggle="tooltip" id='answer-correct' title="Marked as correct">
				<i class="icon-ok-sign"></i>
			</a>
		</td>
		<td>
			<a href="#" data-toggle="tooltip" id='correct-points' title="Answer points">
				<i class="icon-plus-sign"></i>
			</a>
		</td>
		<td>
			<a href="#" data-toggle="tooltip" id='answer-votes' title="Answer votes">
				<i class="icon-thumbs-up"></i>
			</a>
		</td>
		<td>
			<a href="#" data-toggle="tooltip" id='answer-text' title="Answer content">
				<i class="icon-align-justify"></i>
			</a>
		</td>
	</tr>
	<% answers.each do |answer| %>	
	    <tr>
			<td>
				<div class="<%= answer.correct == true ? 'green-tick' : 'default-tick' %> center">
					<%= answer.correct == true && answer.user != answer.question.user  ? 
						raw("<i class='icon-ok-sign'></i>") : raw("<i class='icon-ok-sign'></i>") %>
				</div>
			</td>
			<td>
				<div class="green-tick" id="user-answers">	
					<%= answer.correct == true && answer.user != answer.question.user  ? "+20" : "" %>
				</div>
			</td>
			<td>
				<div id="<%= answer.points > 0 ? 'plus-points' : 'no-points' %>">
					<%= answer.points > 0 ? "+#{answer.points}" : answer.points %>
				</div>
			</td>
	      <td class='left'>
			<%= link_to "#{url_for(answer.question)}#answer_#{answer.id}" do %>
				<%= strip_links(truncate(answer.body, length: 75)) %>
			<% end %>	
		  </td>
	    </tr>
	<% end %>
</table>