<table class="table table-condensed table-borderless table-striped">
		<% for question in questions %>
	    <tr>
			<td>
				<div id="<%= question.correct == true ? 'correct-answer' : 'no-correct-answer' %>">
					<%= question.answers_count %>
				</div>
			</td>
			<td>
				<div id="<%= question.points > 0 ? 'plus-points' : 'no-points' %>">
					<%= question.points > 0 ? "+#{question.points}" : question.points %>
				</div>
			</td>
	      <td class="left"><%= link_to question.title.titleize, question %></td>
	    </tr>
	<% end %>
</table>