<% meta_title(params[:search]) %>
<% meta_keywords(params[:search]) %>

<%= application_banner do %>
	<%= render template: "shared/teebox_banner" %>
<% end %>	

<%= render partial: "shared/nav_links" %>

<div class="row">
	<div class="col-md-8">
		<%= render_search_results(@results, total: @total, text: params[:search]) %>
	</div>	
	
	<aside class="col-md-4">
		<%= render partial: 'shared/articles_sidebar', locals: { articles: @articles } %>
	</aside>
</div>		