<%= application_banner do %>
	<h1 class="video-upload">
		<i class="icon-flag-alt"></i> Clubhouse HQ
	</h1>
	<%= link_to raw("<i class='icon-circle-arrow-left'></i> View all Articles"), articles_path, class: "default submit" %>
	<%= link_to raw("<i class='icon-plus-sign'></i> Create new article"), new_article_path, class: "default next" %>
<% end %>

<div class="row">
	<div class="col-md-12">
		<%= render partial: 'articles', locals: { articles: @published, state: 'Published' } %>
	</div>
	
	<div class="col-md-6 col-sm-6">
		<%= render partial: 'articles', locals: { articles: @approved, state: 'Approved' } %>
	</div>
		
	<div class="col-md-6 col-sm-6">
		<%= render partial: 'articles', locals: { articles: @submitted, state: 'Awaiting Approval' } %>
	</div>
</div>