<% meta_title('Clubhouse') %>
<% meta_keywords('golf articles, golf news, golf instruction') %>

<%= application_banner('rotator-banner') do %>
	<h1 class="video-upload xl">Clubhouse</h1>
	<p><b>Golfing news, instruction and fun stuff</b></p>
	<%= link_to raw("<i class='icon-plus-sign'></i> Submit an article"), new_article_path, 
		class: "default submit" if can?(:new, Article) && current_user %>		
<% end %>

<%= render partial: "shared/nav_links" %>

<section class="row" id="articles-index">
	<%= render_with_sequence(@articles) %>
</section>

<div class="row">
	<div class="col-md-12 text-center">
		<%= will_paginate @articles %>
	</div>
</div>		
