<% if activity.trackable %>
		<div class="gravatar">
			<%= link_to image_tag(avatar_url(activity.owner, 40)), activity.owner, id: "gravatar" %>
		</div>
		<div class="message">
			<%= link_to activity.owner.username, activity.owner %>
			<% if activity.trackable.correct == true %> 
				 marked your
				<%= link_to "answer", read_activity_path(activity), method: :put %>
				 as correct <green>+20</green><br>
			<% else %>	
				 has unmarked your
				<%= link_to "answer", read_activity_path(activity), method: :put %>
				<br>
			<% end %>
			<small>created <%= time_ago_in_words(activity.trackable.created_at) %> ago</small>
		</div>
<% else %>
	User has deleted question
<% end %>
