<% if activity.trackable %>
	<td>
		<div class="gravatar">
			<%= link_to image_tag(avatar_url(activity.owner, 40)), activity.owner, id: "gravatar" %>
		</div>
	</td>
	<td>	
		<div class="message">
			<%= link_to activity.owner.username, activity.owner %> answered 
			<%= link_to read_activity_path(activity), method: :put do %>
				<%= activity.trackable.question.title %>
			<% end %><br>
			<small><i class="icon-calendar"></i>&nbsp;<%= time_ago_in_words(activity.created_at) %> ago</small>
		</div>
	</td>
<% else %>
	<td>User has removed answer</td>
<% end %>