<section class="center hero-unit mobile">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<center>
			<h1 class="welcome-banner user-page"><%= decorator.username %></h1>
			</center>
		</div>
	<article class="col-md-2 col-sm-2 col-xs-4">
		<ul class="ch-grid">
			<li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	                <h3>Teebox Score</h3>
	            </div>
				<h1><%= number_to_human(decorator.reputation) %></h1>
	        </div>
	    	</li>
		</ul>
	</article>
	<article class="col-md-2 col-sm-2 col-xs-4">
		<ul class="ch-grid">
			<li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	               <h3>
					<%= link_to "#{users_path}#user_#{decorator.id}" do %>
					 	Teebox<br>Rank
					<% end %>
				   </h3>
	            </div>
				<h1>#<%= decorator.rank %></h1>
	        </div>
	    	</li>
		</ul>
	</article>
	<article class="col-md-2 col-sm-2 col-xs-4">
		<ul class="ch-grid">
			<li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	               <h3>Member Since</h3>
	            </div>
				<h1><%= decorator.created_at.strftime('%m/%y') %></h1>
	        </div>
	    	</li>
		</ul>
	</article>
</div>
</section>	