<div class="center hero-unit sandy-hills">
	<div class="row">
		<div class="span4" id="user-banner">
			<center>
			<%= link_to image_tag(avatar_url(@decorator, 35)), @decorator, class: "inline-block margin-b-5 " %>
			<h2 class="welcome-banner"><%= @decorator.username %></h2>
			<br>
			<%= @decorator.my_videos %>
			<%= link_to "Ask Question", new_question_path, class: "default submit" if current_user == @user %>
			</center>
		</div>
	<div class="span2">
		<ul class="ch-grid">
			<li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	                <h3>Teebox Score</h3>
	            </div>
				<h1><%= number_to_human(decorator.reputation) %></h1>
	        </div>
	    	</li>
		</ul>
	</div>
	<div class="span2">
		<ul class="ch-grid">
			<li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	               <h3>
					<%= link_to "#{users_path}#user_#{decorator.id}" do %>
					 	Teebox<br>Rank
					<% end %>
				   </h3>
	            </div>
				<h1>#<%= decorator.rank %></h1>
	        </div>
	    	</li>
		</ul>
	</div>
	<div class="span2">
		<ul class="ch-grid">
			<li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	               <h3>Member Since</h3>
	            </div>
				<h1><%= decorator.created_at.strftime('%m/%y') %></h1>
	        </div>
	    	</li>
		</ul>
	</div>
</div>
</div>	