<% meta_title("#{@user.username} answers") %>

<h2>Answers</h2>
<%= raw "<p>No answers yet</p>" unless @answers.any? %>

<table class="table">
	<% @answers.each do |answer| %>	
	    <tr>
			<td>
				<div class="<%= correct_answer?(answer) %> center">
					<i class='icon-ok-sign large'></i>
				</div>
			</td>
	      <td class='left'>
			<%= link_to answer do %>
				<%= strip_links_and_trim(answer.body, 120) %><br>
				<small><i class="icon-calendar"></i> <%= time_ago_in_words answer.created_at %> ago</small>
			<% end %>	
		  </td>
	    </tr>
	<% end %>
</table>

<%= will_paginate @answers %>
<%= link_to "Back to #{@user.username.titleize}", user_path(@user) %>