<%= content_for :head do %>
	<title><%= @user.username %> answers</title>
<% end %>

<div class="span12">
	<b><%= link_to @user.username.titleize, user_path(@user) %> answers</b><br><br>
	<%= render partial: "users/tables/answer_table", locals: {answers: @answers} %>
	<%= link_to "Profile", user_path, class: "default asphalt" %>
</div>
<%= will_paginate @answers %>