<%= content_for :head do %>
	<title><%= @user.username %> answers</title>
<% end %>

<p><%= link_to @user.username.titleize, user_path(@user) %> answers</p>
<%= render partial: "users/tables/answer_table", locals: {answers: @answers} %>
<%= link_to "Back to Profile", user_path(@user) %>
<%= will_paginate @answers %>