<%= content_for :head do %>
	<title><%= @user.username %> comments</title>
<% end %>

<p><%= link_to @user.username.titleize, user_path(@user) %> comments</p>
<%= render partial: "users/tables/comment_table", locals: {comments: @comments} %>
<%= link_to "Back to Profile", user_path %>
<%= will_paginate @comments %>