<% meta_title("#{@user.username} comments") %>

<h2>Comments</h2>

<table class="table">
	<% @comments.each do |comment| %>	
	    <tr>
	      <td class="left">
			<%= link_to "#{url_for(comment.commentable)}#comment_#{comment.id}" do %>
				<%= strip_links(truncate(comment.content, length: 120)) %><br>
				<small>Posted <%= time_ago_in_words comment.created_at %> ago</small>
			<% end %>	
		  </td>
	    </tr>
	<% end %>
</table>
	
<%= will_paginate @comments %>
<%= link_to "Back to #{@user.username.titleize}", user_path(@user) %>