<%= content_for :head do %>
	<title><%= @user.username %> comments</title>
<% end %>

<h2>Comments</h2>
<%= render partial: "users/tables/comment_table", locals: {comments: @comments} %>
<%= will_paginate @comments %>
<%= link_to "Back to #{@user.username.titleize}", user_path(@user) %>