<% meta_title("#{@user.username} questions") %>

<h2>Questions</h2>
<%= raw "<p>No questions yet</p>" unless @questions.any? %>

<table class="table table-bordered questions-index">
	<tbody>			
	<% @questions.each do |question| %>
		<tr>
			<td class='votes-count'>		
				<%= question.votes_count %> <i class="icon-plus"></i>
			</td>
			<td id="<%= question.correct == true ? 'correct-answer' : 'no-correct-answer' %>" class='answers-count'>	
    			<%= question.answers_count %> <i class="icon-ok"></i>
			</td>
			<td id="question_<%= question.id %>" class="content-td" style="text-align:left;width:100%;">
				<p><b><%= link_to question.title, question %></b></p>
				<%= meta_info(question, voting: false) do %>
					<%= link_to raw("<i class='icon-edit-sign sm'></i>"), edit_question_path(question) if can? :update, question %>
					<%= link_to raw("<i class='icon-remove-sign sm'></i>"), question, method: :delete, confirm: "Are you sure? You will lose any points associated with this question" if can? :destroy, question %>
				<% end %>	
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= will_paginate @questions %><br>

<%= link_to "#{@user.username.titleize} profile", user_path(@user) %>