<%= content_for :head do %>
	<title><%= @user.username %> questions</title>
<% end %>

<h2>Questions</h2>
<%= render partial: "users/tables/question_table", locals: {questions: @questions} %>
<%= will_paginate @questions %>
<%= link_to "Back to #{@user.username.titleize}", user_path(@user) %>