<% meta_title("#{@user.username} questions") %>

<h2>Questions</h2>
<%= raw "<p>No questions yet</p>" unless @questions.any? %>

<table class="table">
	<% @questions.each do |question| %>
		<tr>
			<td>
			<div id="<%= question.correct == true ? 'correct-answer' : 'no-correct-answer' %>">
				<%= question.answers_count %>
			</div>
		  	</td>
		  	<td class="left">	
				<b><%= link_to question.title.titleize, question %></b><br>
				<small><i class="icon-calendar"></i> <%= time_ago_in_words question.created_at %> ago</small>
				<small><i class="icon-eye-open"></i> <%= pluralize(question.impressions_count, "view") %></small>
		  	</td>
			<td>
				<%= link_to raw("<i class='icon-edit-sign'></i>"), edit_question_path(question) if can? :update, question %>
				<%= link_to raw("<i class='icon-remove-sign'></i>"), question, method: :delete, confirm: "Are you sure? You will lose any points associated with this question" if can? :destroy, question %>
			</td>	
		</tr>
	<% end %>
</table>

<%= will_paginate @questions %><br>

<%= link_to "#{@user.username.titleize} profile", user_path(@user) %>