<%= content_for :head do %>
	<title><%= @user.username %> questions</title>
<% end %>

<b><%= link_to @user.username.titleize, user_path(@user) %></b><br>
Questions<br><br>
<%= render partial: "users/tables/question_table", locals: {questions: @questions} %>
<%= link_to "Back to Profile", user_path %>
<%= will_paginate @questions %>