<% meta_title(@decorator.username.titleize) %>

<%= application_banner('video-banner yas-links-banner') do %>
	<%= render partial: "users/stats", locals: { decorator: @decorator } %>
<% end %>	

<section class="row">
	<div class="col-md-6 col-sm-6">
		<h2><%= link_to 'Points Breakdown', points_path(@decorator) %></h2>
		<div id="points-breakdown" data-user-id="<%= @decorator.id %>">
			<%= render partial: "shared/loading", locals: { message: "points" } %>
		</div>
	</div>
	<div class="col-md-6 col-sm-6">
		<h2>Activity Summary</h2>
		<center>
			<%= link_to user_questions_path(@decorator), class: "default-xl next fullwidth" do %>
				<i class="icon-question"></i> Questions
			<% end %>
			
			<%= link_to user_answers_path(@decorator), class:  "default-xl success fullwidth" do %>
				<i class="icon-check"></i> Answers
			<% end %>
			
			<%= link_to user_articles_path(@decorator), class: "default-xl submit fullwidth" do %>
				<i class="icon-file-text-alt"></i> Articles
			<% end %>
			
			<%= link_to videos_path, class: "default-xl asphalt fullwidth" do %>
				<i class="icon-facetime-video"></i> Swing Videos
			<% end %>
			
			<hr>
			<%= link_to new_question_path, class: "default-xl universe-btn fullwidth" do %>
				<i class="icon-plus"></i> Ask a question
			<% end %>	
		</center>
	</div>
</section>	

<%= javascript_include_tag "points.js", defer: "defer" %>	

