<%= content_for :head do %>
	<title><%= @decorator.username.titleize %></title>
<% end %>

<%= render partial: "users/stats", locals: { decorator: @decorator } %>

<section class="row">
	<div class="span6">
		<h2>Points Breakdown</h2>
		<table class="table">
		<% @decorator.points_activity.each do |p| %>
			<tr><td class="left">
				<%= render partial: "points/#{p.pointable.class.name.downcase}", locals: { point: p } %>
			</td></tr>
		<% end %>
		</table>
		<%= will_paginate @decorator.points_activity %>
	</div>
	
	<div class="span6">
		<h2>Your Activity</h2>
		<center>
		<%= link_to "Questions", questions_index_path(@decorator), class: "default-xl next fullwidth" if @decorator.questions_index.any? %>
		<br>
		<%= link_to "Answers", answers_index_path(@decorator), class:  "default-xl success fullwidth" if @decorator.answers_index.any? %>
		<br>
		<%= link_to "Comments", comments_index_path(@decorator), class: "default-xl asphalt fullwidth" if @decorator.comments_index.any? %>
		</center>
	</div>
</section>	
	

