<%= content_for :head do %>
	<title><%= @decorator.username.titleize %></title>
<% end %>

<%= render partial: "users/stats", locals: { decorator: @decorator } %>

<section class="row">
	<div class="span6">
		<%= render partial: "points/get_points", locals: { points: Point.find_points(@decorator).limit(5) } %>
	</div>
	
	<div class="span6">
		<h2>Your Activity</h2>
		<center>
		<%= link_to "Questions", questions_index_path(@decorator), class: "default-xl next fullwidth" if @decorator.questions_index.any? %>
		<%= link_to "Answers", answers_index_path(@decorator), class:  "default-xl success fullwidth" if @decorator.answers_index.any? %>
		<%= link_to "Comments", comments_index_path(@decorator), class: "default-xl asphalt fullwidth" if @decorator.comments_index.any? %>
		</center>
	</div>
</section>	
	

