<% meta_title(@decorator.username.titleize) %>

<%= render partial: "users/stats", locals: { decorator: @decorator } %>

<section class="row">
	<div class="span6">
		<h2>Points Breakdown</h2>
		<div id="points-breakdown" data-user-id="<%= @decorator.id %>">
			<!-- Points loaded via Ajax -->
			<%= render partial: "shared/loading", locals: { message: "points" } %>
		</div>
		<%= link_to "View all", points_path(@decorator) if @points.any? %>
	</div>
	
	<div class="span6">
		<h2>Activity</h2>
		<center>
			<%= link_to "Questions", user_questions_path(@decorator), class: "default-xl next fullwidth" %>
			<%= link_to "Answers", user_answers_path(@decorator), class:  "default-xl success fullwidth" %>
			<%= link_to "Articles", user_articles_path(@decorator), class: "default-xl asphalt fullwidth" %>
		</center>
	</div>
</section>	
	
<!-- Loads points via ajax -->	
<%= javascript_include_tag "points.js", defer: "defer" %>	

