<h1>Profile</h1><br>

<div class="profile-info">
<%= link_to image_tag(avatar_url(@user)), @user %>
<%= @user.email %><br>
<%= @user.username %><br><br>

<%= link_to "Change your profile picture", "http://grvatar.com", target: :blank if current_user == @user %>
<hr>

<h1>Handicap: <%= @user.handicap  %></h1>
<h1>Teebox Score: <%= @user.reputation  %></h1>
</div>


	<%= render partial: "users/questions", locals: { questions: @questions } if @questions.any? %>
	
	<%= render partial: "users/answers", locals: {answers: @answers } if @answers.any? %>
	
	<%= render partial: "users/comments", locals: {comments: @comments } if @comments.any? %><br>
		
	<%= link_to "My Videos", videos_path, class: "default next" if current_user == @user %>
	

