<h1>Profile</h1><br>

<div class="profile-info">
<%= link_to image_tag(avatar_url(@decorator, 75)), @decorator %>
<%= @decorator.email %><br>
<%= @decorator.username %><br>
<%= @decorator.change_picture %>
</div>
<hr>

<div id="stats">
<div class="stat-box">
	<div class="stat-title">
			Handicap
	</div>
	<div class="stat-value">
		<h1><%= @decorator.handicap  %></h1>
	</div>
</div>

<div class="stat-box">
	<div class="stat-title">
			Teebox Score
	</div>
	<div class="stat-value">
		<h1><%= @decorator.reputation  %></h1>
	</div>
</div>
</div>

<hr>
<div class="profile-links">
		<%= @decorator.link_helper("questions", questions_index_path(@decorator), @decorator.questions) %>
	
		<%= @decorator.link_helper("answers", answers_index_path(@decorator), @decorator.answers) %>
	
		<%= @decorator.link_helper("comments", comments_index_path(@decorator), @decorator.comments) %>
		
		<%= @decorator.my_videos %>
</div>
		
	

