<h1>Profile</h1><br>

<div class="profile-info">
<%= link_to image_tag(avatar_url(@decorator)), @decorator %>
<%= @decorator.email %><br>
<%= @decorator.username %><br><br>

<%= @decorator.change_picture %>
<hr>
<h1>Teebox Score: <%= @decorator.reputation  %></h1>
<h1 class="bebas">
	Handicap: <%= @decorator.handicap  %></h1>
</div>


	<%= @decorator.render_partial("questions", @decorator.questions) %>
	
	<%= @decorator.render_partial("answers", @decorator.answers) %>
	
	<%= @decorator.render_partial("comments", @decorator.comments) %><br>
		
	<%= @decorator.my_videos %>
	

