<%= content_for :head do %>
	<title>Welcome <%= @user.username.titleize %></title>
<% end %>

<div class="hero-unit sandy-hills">
	<center>
		<h1 class="welcome-banner">
			Welcome <%= @user.username %><br><br>
		</h1>
		<br>
	</center>
	<div class="row">
		<div class="span5 semi">
			<div class="well blue-transparent">
				<h3 class="welcome-white">Improve</h3>
				<p>View our list of popular questions or ask a question to improve your game.</p>
				<%= link_to "View Popular Questions", highest_votes_path, class: "default next" %>
				<%= link_to "Ask a question", videos_path, class: "default success" %>
			</div>
		</div>
		<div class="span5 semi">
			<div class="well blue-transparent">
				<h3 class="welcome-white">Help</h3>	
				<p>Here are some golfers who need your help<p>
				<!-- move out to partial -->
				<ul>	
					<% @questions.each do |q| %>
						<li><%= link_to q.title, q %></li>
					<% end %>
				</ul>
				<%= link_to 'View unanswered questions', unanswered_path, class: "default asphalt" %>	
				<!-- questions -->	
			</div>
		</div>
	</div>	
</div>