<form action="http://teebox-network.s3.amazonaws.com" data-remote="true" class="direct-upload" enctype="multipart/form-data" method="post">
	<!-- type="hidden"-->
	<%= ENV["EMAIL_USERNAME"] %><br>
	<%= ENV["S3_BUCKET"]%><br>
	<%= ENV["AWS_ACCESS_KEY_ID"] %><br>
	
  <input name="key" type="hidden" />
  <input name="AWSAccessKeyId" type="hidden" value="<%= ENV["AWS_ACCESS_KEY_ID"] %>" />
  <input name="acl" type="hidden" value="public-read" />
  <input name="policy" type="hidden" />
  <input name="signature" type="hidden" />
  <input name="success_action_status" type="hidden" value="201" />
<div class="fileUpload default submit">
	<span>Select File  <i class="icon-plus-sign"></i></span>
  	<input name="file" type="file" />
</div>
</form>

<%= form_for @video, html: { multipart: true, id: "new_video" }, remote: true do |f| %>
	<% if @video.errors.any? %>
	<div id="error_explanation">
  		<h2><%= pluralize(@video.errors.count, "error") %> prohibited this post from being saved:</h2>

  		<ul>
  			<% @video.errors.full_messages.each do |msg| %>
    			<li><%= msg %></li>
  			<% end %>
  		</ul>
	</div>
	<% end %>
	<%= f.hidden_field :file %><br>
<% end %>

<%= link_to raw('Step 2 &nbsp;<i class="icon-circle-arrow-right"></i>'), new_question_path, class: "default next" %><br>
	
	