<%= form_for @video, html: { multipart: true } do |f| %>
	<fieldset>
		<% if @video.errors.any? %>
	<div id="error_explanation">
  	<h2><%= pluralize(@video.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
  	<% @video.errors.full_messages.each do |msg| %>
    	<li><%= msg %></li>
  		<% end %>
  	</ul>
	</div>
<% end %>


	
	<div class="group">
	<%= f.file_field :video %></div><br><br>

	
	<div class="group">
	<b>Already have a video on YouTube?</b>
		<br>
		<br>
		Copy YouTube URL here<br>
	<%= f.text_field :youtube_url %><br></div>
	
	
	<%= f.submit "Save", class: "btn" %>
	<% end %>
	