<% if current_user.videos.any? %>
	<div id="token">
    	<% current_user.videos.each do |video| %>
	  		<article class="videos form" data-id="<%= video.id %>">
				<div id='<%= "#{video.id}_token" %>' class="selected-img">
					<%= image_tag(display_screenshot(video, :xl)) %>
					<div class="selected <%= persist_selected(question, video) %>">
						<i class="icon-ok-sign"></i>
					</div>
				</div>
					<h5 class="video-name"><%= format_name(video)  %></h5>
					<p><%= display_video_meta_info(video) %></p>															
   			</article>
    	<% end %>
	</div>
<% else %>
	<%= link_to "0 videos found. Add some videos", videos_path %><br>
<% end %>
<br>