<% if current_user.videos.any? %>
	<div id="token">
    	<% current_user.videos.each do |video| %>
	  		<article class="videos form " data-id="<%= video.id %>">
				<div id='<%= "#{video.id}_token" %>' class="selected-img">
					<%= image_tag(display_screenshot(video, :xl)) %>
					<div class="selected <%= persist_selected(question, video) %>">
						<i class="icon-ok-sign"></i>
					</div>
				</div>
					<h5><%= truncate(File.basename(video.file).titleize, length: 22) %></h5>
					<small><%= video.created_at.strftime("%d/%m/%y") %></small>																
   			</article>
    	<% end %>
	</div>
<% else %>
	<%= link_to "0 videos found. Add some videos", videos_path %><br>
<% end %>
<br>