<%= content_tag(:article, id: "video_#{video.id}", class: "videos", data: { id: video.id }) do %>
	<%= content_tag(:div, class: "video-screenshot") do %>
		<%= image_tag("spinner.gif", class: "loading loading_#{video.id}") %>
		<%= video_processed?(video) %>	
		<%= link_to image_tag(display_xl_screenshot(video)), video %>
	<% end %>
	
	<h5><%= link_to truncate(File.basename(video.file).titleize, length: 19), video %></h5>
	
	<%= content_tag(:p) do %>
		<small><%= video.created_at.strftime("%d/%m/%y")  %></small>
		<%= link_to raw("<i class='icon-remove-sign red'></i>"), video_path(video), method: :delete, remote: true, id: "delete-video_#{video.id}", onclick: "$('.loading_#{video.id}').show();" %>
	<% end %>
<% end %>
