<article id='video_<%="#{video.id}" %>' class="videos">
	
	<%= image_tag("spinner.gif", class: "loading loading_#{video.id}") %>
		
  	<%= video.screenshot.present? ? (link_to image_tag(video.screenshot), video) : (link_to image_tag("video_screen-xl.jpg"), video) %>
	<br>
	<h4><%= link_to File.basename(video.file).titleize, video %></h4>
	
	<p><%= video.created_at.strftime("%d/%m/%y")  %>
	
	<%= link_to raw("<i class='icon-remove-sign'></i>"), video_path(video), method: :delete, 
												 							remote: true, 
												 							class: "pull-right red large", 
												 							id: "delete-video_#{video.id}",
												 							onclick: "$('.loading_#{video.id}').show();" %></p>
</article>