<%= content_tag(:article, id: "video_#{video.id}", class: "col-md-3 col-sm-4 col-xs-6", data: { id: video.id }) do %>
	<%= content_tag(:div, class: "video-screenshot") do %>
		<i class='icon-cog video-destroy-icon icon-spin'></i>
		<%= video_processed?(video) %>	
		<%= link_to image_tag(display_screenshot(video, :xl)), video %>
	<% end %>
	
	<h5><%= link_to format_name(video, truncate: true, length: 39), video %></h5>
	
	<%= content_tag(:p) do %>
		<%= display_video_meta_info(video) %>
		<p>
			<small><%= link_to "Delete", video_path(video), method: :delete, remote: true, id: "delete-video_#{video.id}", onclick: "$('#video_#{video.id} i.video-destroy-icon').show();", class: 'default next' %>
			<%= link_to "Edit", edit_video_path(video), class: 'default' %></small>
		</p>
	<% end %>
<% end %>
