<div class="videos" id='video_<%="#{video.id}" %>'>
  <%= link_to image_tag(video.screenshot), video %>
	<h4><%= link_to File.basename(video.file.path).titleize, video %></h4>
	 <%= link_to "Delete", video_path(video), method: :delete, remote: true %> | Uploaded <%= time_ago_in_words(video.created_at)  %> ago
</div>
