<article id='video_<%="#{video.id}" %>' class="videos">
	<%= image_tag("spinner.gif", class: "loading loading_#{video.id}") %>	
	<% screenshot = video.screenshot.present? ? video.screenshot : "video_screen-xl.jpg" %>
	<%= link_to image_tag(screenshot), video %>
	<br>
	<h4><%= link_to File.basename(video.file).titleize, video %></h4>
	<p><small><%= video.created_at.strftime("%d/%m/%y")  %></small>
	<%= link_to raw("<i class='icon-remove-sign'></i>"), video_path(video), method: :delete, 
												 							remote: true, 
												 							class: "pull-right red large", 
												 							id: "delete-video_#{video.id}",
												 							onclick: "$('.loading_#{video.id}').show();" %></p>
</article>