<%= content_for :head do %>
	<title><%= current_user.username.titleize %> videos</title>
<% end %>

<%= render template: "videos/new" %>

<h2>Video Library</h2><hr>

<div id="videos">
<%= render @videos %>
</div>

<%= render partial: "shared/failed_video_upload" %>
