<% meta_title(format_name @video) %>

<%= content_for :head do %>
	<%= javascript_include_tag "sublime.js", defer: "defer" %>
<% end %>

<div class='row' id="video-<%= @video.id %>">
	<div class='col-md-7 col-sm-7'>
		<%= raw sublime_video(@video) %><br>		
	</div>
	<div class="col-md-5 col-sm-5" id="video-meta-info">
		<div class="video-meta-<%= @video.id %>">
			<h5><%= format_name(@video) %></h5>
			<p><%= display_video_meta_info(@video) %></p>
		
			<%= link_to "Swing Videos", videos_path, class: "default submit" %>
			<%= link_to "Edit", edit_video_path(@video), remote: :true, class: "default" %>
			<%= link_to "Delete", video_path(@video), class: "default next", method: :delete %>
		</div>
	</div>	
</div>


