<%= content_for :head do %>
	<title><%= File.basename(@video.file).titleize %></title>
	<%= javascript_include_tag "sublime.js" %>
<% end %>

<div class='row'>
	<div class='span7'>
		<%= raw sublime_video(@video.file, @video.id) %><br>		
	</div>
	<div class="span5">
		<h4 class="zero-margin"><%= File.basename(@video.file).titleize  %></h4>
		<div class="profile-info">
			<%= link_to image_tag(avatar_url(@video.user)), @video.user %>
			<small><%= link_to @video.user.username.titleize, user_path(@video.user) %><br>
			Uploded <%= time_ago_in_words(@video.created_at) %> ago</small>
		</div>
		<hr>
		<%= link_to "My Videos", videos_path, class: "default submit" %>
		<%= link_to "Delete", video_path(@video), class: "default next", method: :delete if @video.user == current_user %>
	</div>	
</div>	


