<ul class="nav nav-tabs">
  <li class="<%= decorator.tab_class(home_url) %>"><%= link_to "Latest Questions", home_url, class: "bebas" %></li>
  <li class="<%= decorator.tab_class(unanswered_url) %>"><%= link_to "Unanswered", unanswered_path, class: "bebas" %></li>
  <li class="<%= decorator.tab_class(highest_votes_url) %>"><%= link_to "Highest Votes", highest_votes_path, class: "bebas" %></li>
</ul>