<nav id="nav_links">
	<%= link_to "Newest", root_path, class: "default #{decorator.tab_class(root_url)}" %>
	<%= link_to "Popular", popular_path, class: "default #{decorator.tab_class(popular_url)}" %>
	<%= link_to "Unanswered", unanswered_path, class: "default #{decorator.tab_class(unanswered_url)}" %>
	<%= link_to "Tags", tags_path, class: "default  #{decorator.tab_class(tags_url)}" %>
	<%= link_to "Ask", videos_path, class: "default success question_link" %>
</nav>