<nav id="nav_links">
	<%= link_to "Latest", root_path, class: "default #{tab_class(root_url)}" %>
	<%= link_to "Popular", popular_path, class: "default #{tab_class(popular_url)}" %>
	<%= link_to "Unanswered", unanswered_path, class: "default #{tab_class(unanswered_url)}", id: "tour-nav" %>
	<%= link_to "Stories", articles_path, class: "default  #{tab_class(articles_url)}" %>
	<%= link_to "Ask", videos_path, class: "default success question_link" %>
</nav>
