<div class="row">
	<div class="span12" id="">
		<%= link_to "Latest Questions", root_path, class: "default #{decorator.tab_class(root_url)}" %>
		<%= link_to "Unanswered", unanswered_path, class: "default #{decorator.tab_class(unanswered_url)}" %>
		<%= link_to "Highest Votes", highest_votes_path, class: "default #{decorator.tab_class(highest_votes_url)}" %>
		<%= link_to "Tags", tags_path, class: "default  #{decorator.tab_class(tags_url)}" %>
		<%= link_to raw("Ask a Question <i class='icon-question-sign'></i>"), videos_path, class: "default success" %>
	</div>
</div>