<h2 class="relatedh2">Related Questions</h2>
<%= link_to "Ask a question", videos_path, class: "default success" %><hr>
<% questions.each do |question| %>
	<div class="question-info" id="related">
		<div class="related-title">
			<%= link_to question.title.capitalize, question %>
		</div>

		<div class="profile-info" id="related">
			<div class="index-vote pull-left">
				<%= question.votes_count  %>
			</div>	

			<div class='pull-left' id="<%= question.correct == true ? 'correct-answer' : 'no-correct-answer' %>">
				<%= question.answers_count %>
			</div>
			<%= profile_link_helper(question) %>
		</div>
	</div><hr>
<% end %>