<div id="token">
    <% current_user.videos.each do |video| %>
	  <div id="<%= video.id %>" class="videos">
		
		<div class="selected <%= "#{video.id}" %>_icon <%= question.video_id == video.id ? 'selected_video' : '' %>">
			<i class="icon-ok-sign"></i>
		</div>
		
<% screenshot = video.screenshot.present? ? video.screenshot : "video_screen.jpg" %>
<%= link_to image_tag(screenshot), "#", remote: true, 
										id: "#{video.id}_token", 
										onclick: video_select(video) %>
										
										
		<br><%= link_to File.basename(video.file).capitalize, '#' %>
		<small><%= video.created_at.strftime("%m/%d/%y") %></small>																		
	   </div>
    <% end %>
</div><br>