<% if current_user.videos.any? %>
	<div id="token">
    	<% current_user.videos.each do |video| %>
	  		<div class="videos form" data-id="<%= video.id %>">
				<div class="selected <%= question.video_id == video.id ? 'selected_video' : '' %>">
					<i class="icon-ok-sign" id="ok-icon"></i>
				</div>
	
				<% screenshot = video.screenshot.present? ? video.screenshot : "video_screen.jpg" %>
				<div id='<%= "#{video.id}_token" %>' class="selected-img">
						<%= image_tag(screenshot) %>
				</div>
					<%= File.basename(video.file).titleize %><br>
					<%= video.created_at.strftime("%d/%m/%y") %>																	
   			</div>
    	<% end %>
	</div>
<% else %>
	<%= link_to "0 videos found. Add some videos", videos_path %><br>
<% end %>
<br>