<% if current_user.videos.any? %>
	<div id="token">
    	<% current_user.videos.each do |video| %>
	  		<article class="videos form" data-id="<%= video.id %>">
				<div class="selected <%= question.video_id == video.id ? 'selected_video' : '' %>">
					<i class="icon-ok-sign" id="ok-icon"></i>
				</div>
	
				<div id='<%= "#{video.id}_token" %>' class="selected-img">
						<%= image_tag(display_xl_screenshot(video)) %>
				</div>
					<h5><%= truncate(File.basename(video.file).titleize, length: 22) %></h5>
					<small><%= video.created_at.strftime("%d/%m/%y") %></small>																
   			</article>
    	<% end %>
	</div>
<% else %>
	<%= link_to "0 videos found. Add some videos", videos_path %><br>
<% end %>
<br>