<div id='answer_<%="#{answer.id}" %>' class="answer">
	
		<%= render partial: "votes/form", 
				locals: { votes_count: "answers", id: answer.id, object: answer, vote_path: method(:vote_answer_path) } %>
	
		<div id="correct_answer_<%= answer.id %>" class="<%= answer.correct == true ? 'green-tick' : 'default-tick' %>">
			<% if answer.question.user == current_user %>
				<%= link_to "✓", correct_answer_path(answer), id: "tick", class: "correct_#{answer.id}", remote: true, method: :put %>
				<% else %>
				<% if answer.correct == true %>
				<div id="tick", class='correct_<% answer.id %>'> ✓</div>
				<% end %>
			<% end %>
		</div>
		
	<div class="answer-content">
		<%= simple_format answer.body %>
	</div>
		
	<div class="profile-info">
		<%= link_to image_tag(avatar_url(answer.user)), answer.user %>
		<%= link_to number_to_human(answer.user.reputation), answer.user, id: "profile-reputation" %>
		<small><%= link_to answer.user.username.titleize, answer.user %><br>
		Posted <%= time_ago_in_words(answer.created_at) %> ago 
		<% if answer.user == current_user %>
		<%= link_to "  Delete ", answer, method: :delete, id: "delete-answer", remote: :true %>
		|<%= link_to " Edit", edit_answer_path(answer), id: "edit-answer", remote: true %>
		<% end %></small>
		</div>
	</div>
	