<article id="answer_<%= answer.id %>" class="content-box-margin">
	<div class="answer">
		<div class="answer-content">
			<%= simple_format(answer.body) %>
		</div>
		
		<div class="profile-info">	
			<%= meta_info(answer) do %>			
				<li><%= link_to raw("<i class='icon-edit-sign sm'></i>"), edit_answer_path(answer), id: "edit-answer", remote: true, title: "Edit" if can? :destroy, answer %>
				<%= link_to raw("<i class='icon-remove-sign sm'></i>"), answer, id: "delete-answer", remote: :true, method: :delete, confirm: "Are you sure? You will lose any points associated with this answer", title: "Delete" if can? :destroy, answer %></li>
			<% end %>	
		</div><!-- .profile-info -->
	</div><!-- .answer -->
	
	<div class="comments-area">
		<%= display_comments(answer) %>	
		<%= link_to "Add comment", "#" , class: "comment-button" %>
		<%= render partial: "comments/form", locals: {commentable: answer} %>
	</div>
</article>