<div id="answer_<%= answer.id %>" class="answer-box">
	<div class="answer">	
		<div class="answer-content">
			<a name='<%= "answer_#{answer.id}" %>'></a>
			<%= simple_format answer.body %>
		</div>
	<div class="profile-info">
		<div class="controls">
			<div id="correct_answer_<%= answer.id %>" class="<%= answer.correct == true ? 'green-tick' : 'default-tick' %>">
				<% if answer.question.user == current_user %>
					<%= link_to raw("<i class='icon-ok-sign'></i>"), correct_answer_path(answer), 
															 id: "tick", class: "correct_#{answer.id}", 
															 remote: true, 
														     method: :put,
															 title: "Did this help you? Mark it as correct" %>
				<% else %>
					<% if answer.correct == true %>
						<div id="tick", class='correct_<% answer.id %>'><i class="icon-ok-sign"></i></div>
					<% end %>
				<% end %>
				</div>
				<%= render partial: "votes/form", 	locals: { votes_count: "answers", 
													id: answer.id, 
													object: answer, 
													vote_path: method(:vote_answer_path) } %>
			</div>
			<%= profile_link_helper(answer) %>
											
	<%= content_tag :div, class: "edit-destroy-links" do %>
		<%= link_to " Edit", edit_answer_path(answer), id: "edit-answer", remote: true if can? :destroy, answer %>
		<%= link_to " Delete ", answer, id: "delete-answer", remote: :true, method: :delete, confirm: "Are you sure" if can? :destroy, answer %>
	<% end %>	
		</div>
	</div>
	
	<div class="comments-area">
		<div id="answer_<%= answer.id %>">
			<%= nested_comments(answer.comments) %>
		</div><br>
		<%= link_to "Add comment", "#", class: "comment-button" %>
		<%= render partial: "comments/form", locals: {commentable: answer} %>
	</div>
</div>