<%= form_for @answer, remote: true do |f| %>

	<% if @answer.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@answer.errors.count, "error") %> prohibited this post from being saved:</h2>

			<ul>
				<% @answer.errors.full_messages.each do |msg| %>
  					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= f.hidden_field :question_id, value: question_id %>

	<div class="field">
		<% id = rand(1..2000) %>
		<%= f.text_area :body, class: "wysihtml5 answer-form-#{id}", placeholder: "try to be as objective as possible"  %>
		<script type="text/javascript">
		  $('.answer-form-<%= id %>').wysihtml5();
		</script>
	</div>
	
	<%= f.submit "Save Answer", class: "default success" %>
	<%= link_to "Cancel", "#", class: "default cancel-answer" if controller.action_name == "edit" %>
<% end %>