<% meta_title("Sitemap") %>

<%= application_banner("video-banner rotator") do %>
	<h1 class="welcome-banner xl">In case you get lost...</h1>
<% end %>

<div class="row">
	<div class="col-md-6">
		<p><b>Pages</b></p>
		<ul class="sitemap">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About us", about_path %></li>
			<li><%= link_to "How it Works", info_path %></li>
			<li><%= link_to "Leaderboard", users_path %></li>
			<li><%= link_to "Latest Questions", root_path %></li>
			<li><%= link_to "Unanswered Questions", unanswered_path %></li>
			<li><%= link_to "Popular", popular_path %></li>
			<li><%= link_to "Terms and Conditions", terms_path %></li>
			<% if current_user %>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Login", new_user_session_path %></li>
				<li><%= link_to "Sign up", new_user_registration_path %></li>
			<% end %>
		</ul>
		
		<p><b>Questions</b></p>
		<ul class="sitemap">	
			<% @questions.each do |q| %>		
				<li><%= link_to q.title.titleize, q %></li>
			<% end %>
		</ul>
	</div>

	<div class="col-md-6">			
		<p><b>Tags</b></p>
		<ul class="sitemap">
			<p><%= link_to "Tag Vault", tags_path %></p>
			<% @tags.each do |t| %>
				<div class="tag_cloud_tag">
					<%= link_to t.name, tagged_path(t.name), class:  tag_class(t) %>
				</div>
			<% end %>
		</ul>
	</div>
</div>	
	