<h2><%= pluralize(questions.size, "Question") if params[:search] || params[:tag] %></h2>	

<% questions.each do |question| %>

<div class="questions">
	<%= link_to image_tag('swing-pic.jpg'), question, class: "question-image"  %>
	
<div class="question-info">
	<div class="index-title">
		<%= link_to question.title.titleize, question %>
	</div>
	
	<div class="profile-info" id="index">
		<%= link_to question.votes_count, question, class: "index-vote pull-left" %>	
		
		<div class='pull-left' id="<%= question.correct == true ? 'correct-answer' : 'no-correct-answer' %>">
			<%= question.answers_count %>
		</div>
			
		<%= profile_link_helper(question) %>
		</div>
	</div>
</div>
	<% end %>
	
<%= will_paginate questions %>