<h1><%= tag.name.titleize %></h1>&nbsp;
<%= tag.explanation %><br>

<small>Updated by <%= tag.updated_by %> <%= time_ago_in_words(tag.updated_at) %> ago 

<%= link_to "Delete", tag, method: :delete %> |
<%= link_to "Edit", edit_tag_path(tag) %></small><hr>