<article class='tag-container span4'>
	<h6><%= link_to tag.name, tagged_path(tag.name) %></h6>
		<p><%= tag.explanation %><br>
		<small>
			updated <%= time_ago_in_words(tag.updated_at) %> ago
			<%= link_to "Delete", tag, method: :delete if can? :destroy, tag %>
			<%= link_to "Edit", edit_tag_path(tag) if can? :edit, tag %>
		</small></p>
</article>	