<% meta_title("Tag Vault") %>

<div class='hero-unit blue-fuzz red-border mobile'>
	<center>
		<%= render partial: "tags/info" %>
		<%= form_tag tags_path, id: "tag-search", method: "get" do %>
		<%= text_field_tag :search, params[:search], id: "search-tags", placeholder: "Search for tags" %>
		<% end %>
		<%= link_to "Create a new Tag", new_tag_path, class: "default success" if can? :create, Tag %>
	</center>
</div>

<%= display_results(@tags, params[:search]) if params[:search] %>

<section id="tags">
	<%= render @tags %>
</div>
	
<%= will_paginate @tags %>
