<% if activity.trackable %>
	<div class="gravatar">
		<%= link_to image_tag(avatar_url(activity.owner, 40)), activity.owner, id: "gravatar" %>
	</div>
	<div class="message">	
		<%= link_to activity.owner.username, activity.owner %> commented on
		<%= link_to read_activity_path(activity), method: :put do %>
		<%= activity.trackable_type == "Question" ? 
				activity.trackable.commentable.title : truncate(activity.trackable.commentable.body, length: 50)  %>
		<% end %><br>
		<small>created <%= time_ago_in_words(activity.trackable.created_at) %> ago</small>
	</div>	
<% else %>
	User has removed comment
<% end %>
	