<% if activity.trackable %>
<!-- load commentable to avoid n+1 when loading activities -->
	<% comment = Comment.find(activity.trackable, include: :commentable) %>
  	<td>
		<div class="gravatar">
			<%= link_to image_tag(avatar_url(activity.owner, 40)), activity.owner, id: "gravatar" %>
		</div>
	</td>
	<td>
		<div class="message">        
	    	<%= link_to activity.owner.username, activity.owner %> commented on
		    <%= link_to read_activity_path(activity), method: :put do %>
		    	<%= comment.commentable_type == "Question" ? comment.commentable.title : truncate(comment.commentable.body, length: 80) %>
		    <% end %><br>
		    <small>created <%= time_ago_in_words(activity.created_at) %> ago</small>
		</div>
	</td>      
<% else %>
    <td>User has removed comment</td>
<% end %>