<% if activity.trackable %>
	<!-- load commentable to avoid n+1 when loading activities -->
	<% comment = Comment.find(activity.trackable, include: :commentable) %>
  	<td>
		<div class="gravatar">
			<%= link_to image_tag(avatar_url(activity.owner, 40)), activity.owner, id: "gravatar" %>
		</div>
	</td>
	<td>
		<div class="message">        
	    	<%= link_to activity.owner.username, activity.owner %> commented on
		    <%= link_to read_activity_url(activity) do %>
		    	<% if comment.commentable_type == "Question" %>
					<%= comment.commentable.title %>
				<% else %>
					<%= strip_links_and_trim(comment.commentable.body, 80) %>
				<% end %>	
		    <% end %><br>
		    <small><i class="icon-calendar"></i>&nbsp;<%= time_ago_in_words(activity.created_at) %> ago</small>
		</div>
	</td>      
<% else %>
    <td>User has removed comment</td>
<% end %>