<% if activity.trackable %>
	<div class="gravatar">
		<%= link_to image_tag(avatar_url(activity.owner, 40)), activity.owner, id: "gravatar" %>
	</div>
	<div class="message">	
		<%= link_to activity.owner.username, activity.owner %> commented on
		<%= link_to read_activity_path(activity), method: :put do %>
			<% c = activity.trackable.commentable_type == "Question" ? 
			activity.trackable.commentable.title : activity.trackable.commentable.body  %>
			<%= truncate(c, length: 60) %>
		<% end %><br>
		<small>created <%= time_ago_in_words(activity.created_at) %> ago</small>
	</div>	
<% else %>
	User has removed comment
<% end %>
	