<% if @vote.new_record? %>
alert("<%= j @vote.errors.full_messages.join(', ').html_safe %>");
<% else %>
var votes = $("<h1><%= @vote.votable.votes_count %></h1>");
$('#<%= "#{votes_count}_#{id}" %>').html(votes.fadeIn(1000));
$('.user_<%= @vote.votable.user.id %>').text("<%= @vote.point.user.reputation %>");
<% end %>