<div class="report-container span3">
	<div class="report-title r-question">
		Questions
	</div>
	Total: <%= reports.last.questions_total %>&nbsp;
	<div class="<%= percent_of(reports.last.questions_total, reports[1].questions_total) < 0 ? 'decrease' : 'increase' %>">
		<%= number_with_precision(percent_of(reports.last.questions_total, reports[1].questions_total), precision: 2) %> %
	</div><br>
	per day: <%= reports.last.questions %>&nbsp;
	<div class="<%= percent_of(reports.last.questions, reports[1].questions) < 0 ? 'decrease' : 'increase' %>">
		<%= number_with_precision(percent_of(reports.last.questions, reports[1].questions), precision: 2) %> %
	</div>	
</div>
<div class="report-container span3">
	<div class=" report-title r-user">
		Users
	</div>
	Total: <%= reports.last.users_total %>&nbsp;
	<div class="<%= percent_of(reports.last.users_total, reports[1].users_total) < 0 ? 'decrease' : 'increase' %>">
		<%= number_with_precision(percent_of(reports.last.users_total, reports[1].users_total), precision: 2) %> %
	</div><br>
	Per day: <%= reports.last.users %>&nbsp;
	<div class="<%= percent_of(reports.last.users, reports[1].users) < 0 ? 'decrease' : 'increase' %>">
		<%= number_with_precision(percent_of(reports.last.users, reports[1].users), precision: 2) %> %
	</div>
</div>	
<div class="report-container span3">
	<div class="report-title r-answer">
		Answers
	</div>	
	Total: <%= reports.last.answers_total %>&nbsp;
	<div class="<%= percent_of(reports.last.answers_total, reports[1].answers_total) < 0 ? 'decrease' : 'increase' %>">
		<%= number_with_precision(percent_of(reports.last.answers_total, reports[1].answers_total), precision: 2) %> %
	</div><br>
	Per day: <%= reports.last.answers %>&nbsp;
	<div class="<%= percent_of(reports.last.answers, reports[1].answers) < 0 ? 'decrease' : 'increase' %>">
	 <%= number_with_precision(percent_of(reports.last.answers, reports[1].answers), precision: 2) %> %
	</div>
</div>