<div class='row'>
	<div class='span12'>
		<div class='hero-unit blue-transparent'>
			<center>
				<h1 class="one"><span>Teebox Report - <%= Time.now.to_date %></span></h1>
				<%= render partial: "reports/form" %>
				<%= render partial: "reports/totals", locals: {reports: @all_reports }%>
			</center>
			</div>
		</div>
	</div>
	
	<%= render partial: "reports/stats", locals: { reports: @reports }%>
		
<div class="row">		
	<div class="span12">		
			<b>Totals</b>
			<%= content_tag :div, "", id: "area", data: { totals: @all_reports } %>	
			<b>Daily Totals</b>
			<%= content_tag :div, "", id: "stats", data: { reports: @all_reports } %>
	</div>
</div>
<!-- load morris to rescue from 'no graph container found error'-->
<script>
jQuery(function() {
  return Morris.Area({
    element: 'area',
    data: $('#area').data('totals'),
    xkey: 'created_at',
    ykeys: ['answers_total', 'questions_total', 'users_total'],
    labels: ['Total Answers', 'Total Questions', 'Total Users'],
	behaveLikeLine: "true"
  });
});
jQuery(function() {
  return Morris.Area({
    element: 'stats',
    data: $('#stats').data('reports'),
    xkey: 'created_at',
    ykeys: ['answers', 'questions', 'users'],
    labels: ['New Answers', 'New Questions', 'New Users'],
	behaveLikeLine: "true"
  });
});
</script>