<%= content_for :head do %>
	<title>Reports</title>
<% end %>
<%= javascript_include_tag 'raphael.js', 'morris.js', "load_morris.js" %>

<div class="hero-unit blue-transparent">
	<center>
		<h1>Report - <%= Time.now.to_date %></h1>
		<%= render partial: "reports/form" %>
		<%= content_tag :div, "", id: "area", data: { totals: @all_reports } %>
		<%= render partial: "reports/totals", locals: {reports: @all_reports }%>
	</center>
</div>