<%= content_for :head do %>
	<title>Reports/Stats</title>
<% end %>

<table id="reports" class="table white table-condensed table-striped table-bordered">
	<thead>
		<tr>
			<td>New Questions</td>
			<td>Total Questions</td>
			<td>New Answers</td>
			<td>Total Answers</td>
			<td>New Users</td>
			<td>Total Users</td>
			<td>Created on</td>
		</tr>
	</thead>
	<tbody>
		<% @reports.each do |report| %>
		<tr>
			<td><%= report.questions %></td>
			<td><%= report.questions_total %></td>
			<td><%= report.answers %></td>
			<td><%= report.answers_total %></td>
			<td><%= report.users %></td>
			<td><%= report.users_total %></td>
			<td><%= report.created_at.strftime('%d/%m/%y %H:%S %p') %></td>
			<td><%= link_to raw("<i class='icon-remove-sign red'></i>"), report, method: :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @reports %>

<%= link_to "Back to Reports index", reports_path %>