<!DOCTYPE html>
<HTML lang="en">
<head>
  <title>Teebox</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", media: 'all' %>
  <%= csrf_meta_tags %>
	<script type='text/javascript' src='http://cdn.sublimevideo.net/js/<%= sublimevideo_rails %>.js'></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="wrap">
	<%= render template: "layouts/header" %>	
	
	<div class="container">
			<% flash.each do |name, msg| %>
			 	<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				 	<a class="close" data-dismiss="alert">&#215;</a>
				   	<%= content_tag :div, msg, :id => "flash" if msg.is_a?(String) %>
					</div>
    	<% end %>
			<%= yield %>
	</div>
	<div id="push"></div>
	</div>
	<%= render template: 'layouts/footer' %>
</body>
</html>
