<!DOCTYPE html>
<HTML lang="en">
	<head>
		<%= render template: "layouts/head" %>
	</head>
	<body>
		<div id="wrap">
			<%= render template: "layouts/header" %>			
			<div class="container" id="margin-bottom">
				<%= render partial: "layouts/enable_javascript" %>
				<% flash.each do |name, msg| %>
				 	<div class="alert alert-<%= name == :notice ? "success" : "error" %> fade in">
					 	<a class="close" data-dismiss="alert">&#215;</a>
					   	<%= content_tag :div, msg, :id => "flash" if msg.is_a?(String) %>
					</div>
				<% end %>
				<%= yield  %>
			</div>
			<div id="push"></div>
		</div>
		<%= render template: 'layouts/footer' %>
	</body>
</html>
