<footer id="footer">
	<div class="container">
		<div class="padded row">
			<div class="span3">
				<div class="footer-title">Questions</div>
				<ul class="footer-links">
					<li><%= link_to "Latest Questions", root_path %></li>
					<li><%= link_to "Unanswered Questions", unanswered_path %></li>
					<li><%= link_to "Popular Questions", popular_path %></li>
					<li><%= link_to "Tag Vault", tags_path %></li>
				</ul>	
			</div>
			<div class="span3">
				<div class="footer-title">About</div>
				<ul class="footer-links">
					<li><%= link_to "About us", about_path %></li>
					<li><%= link_to "How it Works", info_path %></li>
					<li><%= link_to "Leaderboard", users_path %></li>
				</ul>	
			</div>
			<div class="span3">
				<div class="footer-title">Teebox</div>
				<ul class="footer-links">
					<li><%= link_to "Take the tour", '#', id: "welcome-start-tour", "data-ref" => "welcome-tour" %></li>
					<li><%= link_to "Sitemap", sitemap_path %></li>
					<li><%= link_to "Terms & Conditions", terms_path %></li>
					<li><%= link_to "Blog", "http://blog.teeboxnetwork.com" %></i>
				</ul>
			</div>
			<div class="span3">
				<div class="footer-title">Social</div>
				<ul class="footer-links">
					<li><%= link_to raw("<i class='icon-twitter twitter'></i>"), "https://twitter.com/Teebox_network" %>
						<%= social_statistics.try(:followers) %></li>
					<li><%= link_to raw("<i class='icon-facebook-sign facebook'></i>"), "https://www.facebook.com/TeeboxNetwork" %>
						<%= social_statistics.try(:likes) %></li>
					<li><%= link_to raw("<i class='icon-google-plus-sign google'></i>"), "https://plus.google.com/b/104485287628972276434/104485287628972276434/posts" %></li>
				</ul>
			</div>
		</div>
	</div>
	<%= javascript_include_tag "start_tour.js", "google-analytics.js", defer: "defer" %>
	<%= yield :footer %>
</footer>
