<div class="header">
	<div class="header_container">
			<div class="left-header">
			<div class="logo">
				<%= link_to image_tag("bebas-logo.png"), home_path %>
			</div>
	
			<div class="header-title">
				<teebox><%= link_to "Teebox", home_path %></teebox><br>
				Find your game
			</div>
		</div>

		<div class="right-header">	
			<% if user_signed_in? %>
			  <div class="letter-press">
					<%= link_to number_to_human(current_user.reputation), current_user, id: "profile-reputation" %>
					<strong><%= link_to current_user.username.titleize, current_user %></strong>&nbsp
					<%= link_to image_tag(avatar_url(current_user)), current_user %><br>
				</div>
			  <%= link_to 'Edit', edit_user_registration_path %> |
			  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
			<% else %>
			<br>
			  <%= link_to "Sign up", new_user_registration_path %> |
			  <%= link_to "Login", new_user_session_path %>
			<% end %>
			
			<%= form_tag questions_path, method: "get", id: "header" do %>
			<%= text_field_tag :search, params[:search], id: "header-search", placeholder: "Search..." %>
			<% end %>
		</div>
		</div>
	</div>