<title><%= meta_title %></title>
<%= content_tag(:meta, nil, name: "description", content: meta_description) %>
<%= content_tag(:meta, nil, name: "keywords", content: meta_keywords) %>
<%= favicon_link_tag "/favicon.ico" %>
<%= favicon_link_tag 'teebox-app-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application", media: 'all' %>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="F719ieOFnrp1nE4XCEUHbeQqkjvCycddAUC-5z4Dkgo" />
<%= yield :head %>
<meta property="og:image" content='<%= "#{request.protocol}#{request.host_with_port}#{asset_path('teebox-app-icon.png')}" %>' />

<!--[if lt IE 9]>
<div class="alert alert-error" id="enable-javascript">
	Teebox Network is not fully compatible with your version of Internet Explorer. Please upgrade to 9 or above.
</div>
<![endif]-->